 .car .car-time {
    width: 25%;
  }
  .car-time{
  }
  .car{
    z-index: auto;
    padding-bottom: 40%;
  }
  .about_me_header{
    color: var(--lightergreen);
  }
  
  .card-reveal span{
    color: var(--lightergreen);
  }
  .card-reveal p{
    color: var(--lightergreen);
    font-size: 1vw;
  }
  .card-reveal li{
    color: var(--lightergreen);
  }
  .featured_project_skills li::before{
    content: "- ";
    left: 0px;
    color: var(--lightergreen);
    font-size: 1vw;
    line-height: 4px;
  }
  .card-reveal ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  .recent_projects{
    color: var(--lightergreen);
  }

  /* Portrait */
  @media screen and (max-width: 375px) {
    .car .car-time{
      width: 175px;
    }
    .card-content .name-title{
      font-size: 16px;
    }
    .card-reveal .card-title{
      font-size: 15px;
    }
    .card-reveal p{
      font-size: 8px;
    }
    .card-reveal ul li{
      font-size: 8px;
    }
  }
