.card-card {
  min-height: 650px;
}  

.otherCard{
  padding: 10%;
}
.split-div{
  margin-bottom: 5%;
  margin-top: 5%;

}
.card-name{
  overflow-wrap: break-word;
}
.gitLogo { 
  transition: all .2s ease-in-out; 
  outline: 1px solid var(--darkgreen);
}
.gitLogo:hover { transform: scale(1.5); }