.right_sidebar aside {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 5px;
  right: 30px;
  padding-top: 0px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 10;
  
}
.right_sidebar aside div{
  padding: 10px;
  display: block;
  position: relative;
  margin-top: 200px;

}
.right_sidebar aside div a{
  color: var(--lightergreen);

}
.right_sidebar aside div::before{
  content: '';
  width: 1px;
  height: 200vh;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -2px;
  background-color: var(--lightergreen);
}