  .quick_intro {
    margin-top: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    z-index: auto;
  
   }
   /*---"Hello, I'm"---*/
   .quick_intro h2{
    font-size: var(--small_vw);
   }
   /*---"Derek Hernandez"---*/
   .quick_intro h3{
   font-size: var(--large_vw);
   color: var(--lightergreen);
  }
  /*---"Aspire"---*/
  .quick_intro h4{
   font-size: var(--bigger_small_vw);
   color: var(--light);
   padding-bottom: 15px;
  }
  /*---"Aspire"---*/
  .quick_intro p{
   font-size: var(--small_vw);
   color: var(--light);
  }

  .quick_intro a{
    margin-left: 20%;
    background-color: var(--grey);
    outline: 1px  solid #86c232;
  }
    .btn:hover{
    background-color: #707070;
  }
@media screen and (min-width: 768) {
    
}